@font-face {
    font-family: PlayFairItalic;
    src: url(../Font/PlayfairDisplay-BlackItalic.ttf);
}

@font-face {
    font-family: PlayFair;
    src: url(../Font/PlayfairDisplay-SemiBold.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow:auto;
}

#div-body {
    height: 100%;
    background-image: url(https://images.pexels.com/photos/616404/pexels-photo-616404.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
}

.section-1{
    height: 45%;
}

.section-2 {
    background-color: #c8f0b0;
    height: 55%;
    z-index: 2;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}

.tulisan-box {
    z-index: 10;
    position:absolute;
    top:35%;
    left: 10rem; 
    height: 18rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 2.5rem;
    background-color: white;
    opacity: 0.7;

    word-spacing: 0.3rem;
    padding-bottom: 2rem;
    color: #465f38;
}


#logo {
    position: absolute;
    top: 25%;
    right: 11rem;
    margin: auto;
    /* width: 100vw; */
    width: 25rem;
    max-width: 30rem;
    margin-top: 1rem;
    z-index: 10;
} 

#welcome {
    font-family: PlayFairItalic;
    font-size: 2.5rem;
    text-align: center;
    line-height: 3rem;
    margin-top: 1rem;
    font-weight: 700;
}

#moto{
    font-family: PlayFair;
    font-size: 1.25rem;
}

#lanjutButton {
    height: 4rem;
    width: 10rem;
    font-size: 1.5rem;
    font-family: PlayFair;
    border-radius: 1.1rem;
    background:linear-gradient(to bottom, #feb538 5%, #b57f22 100%);
    background-color:#feb538;
    border:1px solid #ab8118;
    text-shadow:0px 1px 0px #2f6627;
    z-index:50;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
    line-height: 3.5rem;
    text-decoration: none;
    color: #465f38;
}

#lanjutButton:hover {
    background:linear-gradient(to bottom, #b57f22 5%, #feb538 100%);
	background-color:#b57f22;
}

#lanjutButton:active {
    position:relative;
    top:2px;
}
